.Rproj.user
.Rhistory
.RData
.Ruserdata

/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/.RDataTmp
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P2_477001/.ipynb_checkpoints/\#USL_P2_477001-checkpoint.ipynb
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P2_477001/.ipynb_checkpoints/\#USL_P2_477001-checkpoint.ipynb
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P2_477001/\#USL_P2_477001.html
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P2_477001/.ipynb_checkpoints/\#USL_P2_477001-checkpoint.ipynb
/Autumn 2025/2400-DS1R R intro, data cleaning and imputation R,  basics of visualisation/data/all.rda
/Autumn 2025/2400-DS1AMI Applied Microeconomics/7/Bundling.zip
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/archive.zip
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P2_477001.zip
/Autumn 2025/2400-DS1AMI Applied Microeconomics/7/Bundling/rsconnect/documents/bundling_03_PL.Rmd/shinyapps.io/microeconomics/bundling_03_PL.dcf
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/features.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/ml-latest-small.zip
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/archive (2)/spotify_dataset.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/archive/spotify_dataset.csv
/Autumn 2025/2400-DS1AMI Applied Microeconomics/7/Bundling/results-treatment-1.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/USL_P3_477001_Simple.Rmd
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/ml-latest-small/tags.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma+a+dataset+for+music+analysis.zip
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata.zip
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/raw_tracks.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/raw_genres.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/raw_echonest.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/raw_artists.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/raw_albums.csv
/Autumn 2025/2400-DS1UL Unsupervised Learning/Projects/\#USL_P3_477001/fma_metadata/tracks.csv